name: Linter
on: [push, pull_request]
jobs:
  eslint:
    name: ESLint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install modules
        run: yarn
      - name: Install modules
        run: yarn bootstrap
      - name: Lint
        run: yarn lint
